h1 {
  font-family: "Cinzel";
  padding: 0.5em;
  font-size: 3.8rem;
  color: #7d8072;
}

h2 {
  font-size: 1.8rem;
  color: #7d8072;
}

h3 {
  font-size: 1.8rem;
  text-decoration-line: underline;
  color: #7d8072;
}
/* base nav bar */

.main-nav {
  padding-left: 0.5em;
}
.login,
.signup,
.logout {
  font-family: "Alegreya Sans SC";
  font-size: 1.3rem;
}
.card-text,
.card-title {
  font-family: "Didact Gothic";
}

.card-text {
  font-size: 1.2rem;
  color: #a0a696;
}

/* homepage */
.homepage-text {
  background-color: rgba(255, 218, 185, 0.6);
  color: forestgreen;
  /* font-size: 1.8em; */
}
/* signup */
.signup-page {
  padding: 1em 2em;
  margin: auto;
  color: #a0a696;
}

/* login */
.login-page {
  margin-left: 15px;
}

/* logout */
span {
  font-size: 1.2rem;
  color: #a0a696;
  /* font-size: 2rem; */
}
