{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Architects+Daughter|Cinzel|Cormorant+Garamond|Didact+Gothic|Julius+Sans+One|Marcellus|Montserrat+Alternates|Poiret+One|Roboto|Unica+One"
        rel="stylesheet">

    <title>Cozy Corner</title>
</head>

<body>
    <h1>Welcome to Cozy Corner</h1>
    <nav>
        <div class="user-info">
            {% if user.is_authenticated %}
            Welcome, {{ user.username }}
            <br><a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}

</body>

</html>