{% extends 'base.html' %}

{% block content %}
{% for bouquet in bouquets %}

<div class="card mb-3">
    <img class="card-img-top" src="{{ bouquet.img_url }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{bouquet.name}}</h5>
        <p class="card-text">{{ bouquet.flowers }}</p>
        <p class="card-text">{{ bouquet.season }}.</p>
        <p class="card-text">{{ bouquet.description }}</p>
        <p class="card-text"><small class="text-muted">Cozy Corner</small></p>
    </div>
</div>

{% endfor %}
{% endblock %}