<!-- {% extends 'base.html' %}
<div class="user-info">
    {% if user.is_authenticated %}
    Welcome, {{ user.username }}
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</div> -->

<!-- {% endblock %} -->
<!-- <nav> -->
<!-- <a href="/songs">Songs</a> -->
<!-- <a href="/">Artists</a> -->
<!-- <div class="user-info">
        {% if user.is_authenticated %}
        Welcome, {{ user.username }}
        <a href="{% url 'logout' %}">Signout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
</nav> -->